create or replace function get_favorite_doctor_all(p_patient_id uuid) returns table (doctor_id uuid, doctor_name text, visit_count bigint, latest_visit timestamp with time zone) as create_favorite_doctor_function.sql begin return query select d.id as doctor_id, u.name as doctor_name, count(a.id) as visit_count, max(a.appointment_date) as latest_visit from appointments a inner join doctors d on d.id = a.doctor_id inner join users u on u.id = d.id where a.patient_id = p_patient_id group by d.id, u.name order by visit_count desc, latest_visit desc limit 1; end; create_favorite_doctor_function.sql language plpgsql;
